.explain__modal-overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.explain__modal{
    z-index: 2;
    width: 360px;
    height: 360px;
    /* background-color: var(--basic-color); */
    border-radius: 10px;
    padding:20px;
    position: relative;
    display: ;
    /* overflow: hidden; */
}
.explain-content{
    z-index: 1;
    position: relative;
    width: 360px;
    height: 360px;
    background-color: var(--basic-color);
    border-radius: 10px;
    padding:20px;
    float: right;
}
.modal_btn{
    border:0;
    outline: 0;
    cursor: pointer;
    color: #fff;
}