.history{
    margin-top: 90px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 24px;
    background-color: #fff;
    text-align: center;
    font-family: 'Quantico', sans-serif;
}
th{
    border-bottom: 1px solid rgba(0,0,0,.4);
}
th, td{
    height: 40px;
    vertical-align: middle;
}
@media screen and (max-width:768px){
    .history{
        width: 90%;
    }
}