.history{
    margin-top: 90px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 24px;
}
th{
    border-bottom: 1px solid rgba(0,0,0,.4);
}
th, td{
    height: 40px;
    vertical-align: middle;
}