@import "reset.css";
@import "variables.css";

@import "component/footer.css";
@import "component/explain.css";
@import "component/nav.css";
@import "component/result.css";
@import "component/winModal.css";
@import "component/numbers.css";
@import "component/history.css";

@import "screen/home.css";
@import "screen/normal.css";

@font-face {
  font-family: "nanumroundR";
  src: url(font/NanumSquareRoundR.ttf);
}
* {
  font-family: "nanumroundR", serif;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 130vh;
  background-color: var(--basic-color);
  position: relative;
}
.btn {
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.font-center {
  text-align: center;
}
a,
a:visited {
  text-decoration: none;
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@media screen and (max-width:768px) {
  body{
    height: 200vh;
  }
}