<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap" rel="stylesheet">
</head>

<body id="rank__body">
    <div class="rank__home" onclick="window.history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
    </div>
        <div class="main__gamescores">
            <table class="main__table">
                <tbody class="main__score-body">
                    <tr>
                        <th class="score-th">Rank</th>
                        <th class="score-th">Name</th>
                        <th class="score-th">Score</th>
                    </tr>
                    <% for(var i = 0 ; i < scores.length; i++){ %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= scores[i].userName %></td>
                            <td><%= scores[i].score %></td>
                        </tr>
                    <% } %>
<!--이제 sort해서 내림차순으로 데이터 정리한다음 20위까지 표시하는거 남음-->
<!-- 그리고 서버 구해서 내고...-->
                </tbody>
            </table>
        </div>
    </main>
<!-- 
    <footer>
        <div class="footer__info">Made by ROMINA SCH</div>
        <div class="footer__share">
            <div class="share__btn kakao">
                <img src="img/kakao_logo.jpg" />
            </div>
            <div class="share__btn link"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                </svg></div>
        </div>

    </footer> -->
    
    <!-- <script src="https://kit.fontawesome.com/6c2f90a09b.js" crossorigin="anonymous"></script> -->
</body>

</html>